@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.button {
  @include button-reset;
  text-align: left;
  width: 100%;
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-sm;
  color: $text-tertiary;
  transition: background-color $transition-base, color $transition-base;
  cursor: pointer;
  background: none;
  border: none;

  &:hover {
    background-color: $overlay-hover;
    color: $text-tertiary;
  }
}

.editingContainer {
  width: 100%;
  padding: $spacing-sm;
}

.form {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;
}

.textarea {
  @include input-reset;
  width: 100%;
  padding: $spacing-sm;
  border: 2px solid $primary-blue;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  background: $background-white;
  color: $text-primary;
  resize: none;
  font-family: inherit;
  line-height: 1.4;

  &:focus {
    outline: none;
    border-color: $primary-blue-hover;
  }

  &::placeholder {
    color: $text-secondary;
  }
}

.buttonGroup {
  display: flex;
  align-items: center;
  gap: $spacing-sm;
}

.createButton {
  @include button-reset;
  padding: $spacing-sm $spacing-md;
  font-size: $font-size-sm;
  font-weight: $font-weight-medium;
  color: $text-white;
  background-color: $accent-green;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-base;

  &:hover:not(:disabled) {
    background-color: $accent-green-hover;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.cancelButton {
  @include button-reset;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-tertiary;
  border-radius: $border-radius;
  cursor: pointer;
  transition: background-color $transition-base, color $transition-base;

  svg {
    width: 16px;
    height: 16px;
  }

  &:hover {
    background-color: $overlay-hover;
    color: $text-body;
  }
}
