@use '../styles/variables' as *;
@use '../styles/mixins' as *;

.menu {
  position: absolute;
  top: 2rem;
  left: calc(100% - 2rem);
  width: 17rem;
  background-color: $background-gray;
  border-radius: $border-radius;
  box-shadow: $shadow-md;
  z-index: 10;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-xs;
  border-bottom: 1px solid $border-subtle;
}

.headerButton {
  @include button-reset;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $text-secondary;
  border-radius: $border-radius;
  transition: background-color $transition-base, color $transition-base;
  cursor: pointer;
  flex-shrink: 0;

  &:hover:not(:disabled) {
    background-color: rgba(0, 0, 0, 0.08);
    color: $text-primary;
  }

  &:disabled {
    cursor: default;
    opacity: 0;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.headerTitle {
  font-size: 1em;
  font-weight: $font-weight-normal;
  color: $text-tertiary;
  margin: 0;
  flex: 1;
  text-align: center;
  padding: 0 $spacing-sm;
}

.content {
  padding: $spacing-sm 0;
}

.menuList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  list-style: none;
}

.menuLink {
  @include button-reset;
  display: block;
  width: 100%;
  padding: $spacing-xs $spacing-md;
  text-align: left;
  color: $text-primary;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  text-decoration: none;
  cursor: pointer;
  transition: 0.2s ease-in;

  &:hover {
    color: $text-white;
    background-color: $primary-blue;
  }
}

.confirmation {
  padding: 0 $spacing-sm;
  display: flex;
  flex-direction: column;
}

.confirmationText {
  margin: 0 0 0.5rem 0;
  color: $text-primary;
  font-size: $font-size-base;
  line-height: $line-height-tight;
}

.deleteButton {
  @include button-reset;
  padding: $spacing-sm $spacing-md;
  background-color: $danger-red;
  color: $text-white;
  border-radius: $border-radius;
  box-shadow: 0 1px 0 rgba(110, 47, 26, 1);
  font-size: $font-size-base;
  font-weight: $font-weight-medium;
  cursor: pointer;
  transition: background-color $transition-base;
  align-self: flex-start;

  &:hover {
    background-color: rgb(182, 61, 41);
  }
}

